# Jupyter-related packages
ipykernel
jupyterlab
jupyter-client
jupyter-core
traitlets

# Packages used within the original project
numpy
pandas
scikit-learn
opencv-python
matplotlib

# Packages used in the project expansion
scikit-image
scikit-activeml